.footer{
    padding-top: 120px;
    @media (max-width:776px) {
        padding-top: 90px;
    }

    .footer-wrapper{
        padding-bottom: 100px;
        border-bottom: 1px solid  rgba(255, 255, 255, 0.15);

        @media (max-width:776px) {
            padding-bottom: 20px;
        }
    }
    .footer-widget{
        .footer-title{
            margin-bottom: 40px;

            @media (max-width:776px) {
                margin-bottom: 28px;
            }
        }
        .footer-menu{
            margin-bottom: 20px;

            @media (max-width:776px) {
                margin-bottom: 13px;
            }

            .footer-contact-wrap{
                svg *{
                   transition: .2s all ease-in-out;
                }
                &:hover{
                    svg *{
                        fill: #F7B112;
                    }
                    .contactLogo{
                        background: #fff;
                    }
                }
            }
            .contactLogo{
                height: 48px;
                width: 48px;
                background: rgba(255, 255, 255, 0.10);
                border-radius: 100px;
              
            }
            a{
                transition: .2s all ease-in-out;
                &:hover{
                    color: var(--secondary-yellow) !important;
                }
            }
        }
        .footer-link{
            margin-bottom: 20px;
            transition: .2s all ease-in-out;
            &:hover{
                color: var(--secondary-yellow) !important;
            }
        }
    }
    .footer-bottom{
        padding: 25px 0;
    }
    .footer-social{
        .footer-social-link{
            svg *{
               transition: .2s all ease-in-out;
            }
            &:hover{
                svg *{
                    fill: var(--secondary-yellow);
                }
            }
        }
    }
}