.pl-100{
    padding-left: 100px;
}

.mb-20{
    margin-bottom: 20px;
}

.border-top-left-radius-8{
    border-top-left-radius: 8px;
}

.border-top-left-radius-60{
    border-top-left-radius: 60px;
}

.border-bottom-right-radius-8{
    border-bottom-right-radius: 8px;
}

.border-bottom-right-radius-60{
    border-bottom-right-radius: 60px;
}

.recognition{
    margin-bottom: 120px;
}

.recognition-card{
    background-color: var(--light-yellow);
    padding: 30px;
    height: 100%;

    h4{
        line-height: 1.41;
    }

    p{
        line-height: 1.55em;
    }
}